# Analysis of Layout ID

## Relevant documents

- (Python Client Repo)[https://github.com/Green-Fusion/energy-management-backend/tree/main/python_client]
- (Klemmenbelegung)[https://docs.google.com/spreadsheets/d/1nkdkx2rI6nVKgoKBgkCUtfwEwuv8kptrRUXcXtfv0NM/edit?gid=247168398#gid=247168398]
- (Hypothesis for Klemmenbelegung)[https://docs.google.com/spreadsheets/d/1TSTxMCgEvuoayzOfx1MUqlV0tiqsVTBRN8aldlnFXxA/edit?gid=0#gid=0]

# import data

In [1]:
#imports
import pandas as pd

In [2]:
#build df from database exctracted data
df = pd.read_csv('data_from_db_2025-07-04.csv')
#inspest column
df.columns

Index(['building_id', 'customer_name', 'address', 'postal_code', 'city',
       'heatingType', 'heatingSurface', 'coordinates', 'gfid', 'LayoutID',
       'device_type', 'device_id'],
      dtype='object')

In [3]:
#filter out uncesseray infos
df=df[['building_id','device_type', 'customer_name','address','LayoutID']]

In [4]:
df.head()

,building_id,device_type,customer_name,address,LayoutID
0,756,RUT956,HwS,Wolzogenstr.28,gas:1--gas:2--heating-circuit:1--heating-circu...
1,757,RUT956,HwS,Hagelberger Str. 26,gas:1--gas:2--heating-circuit:1
2,758,RUT956,HwS,Hochstr. 8,gas:1--heating-circuit:1
3,759,RUT956,HwS,Planufer 82a,gas:1--heating-circuit:1
4,761,RUT956,HwS,Gabainstr. 13,gas:1--gas:2--global-separation-circuit:1--hea...

In [5]:
df.count()

building_id      1938
device_type      1064
customer_name    1938
address          1938
LayoutID         1098
dtype: int64

# Group by LayoutID

In [6]:
unique_count = df['LayoutID'].nunique()
print(f"Number of unique LayoutID values: {unique_count}")

Number of unique LayoutID values: 233

In [7]:
# Group by LayoutID
grouped = df.groupby('LayoutID').agg(
    Occurrence=('LayoutID', 'count'),
    buildingIDs=('building_id', list)
).reset_index()

# Add a simple index column starting from 0
grouped = grouped.sort_values(by='Occurrence', ascending=False).reset_index(drop=True)
grouped['KBn']=grouped.index+1
#grouped['KBn'] = grouped['KBn'].fillna(-1).astype(int)

In [8]:
# Show result
grouped.head(20)

,LayoutID,Occurrence,buildingIDs,KBn
0,gas:1--heating-circuit:1--warm-water:1,119,"[768, 769, 770, 778, 787, 1924, 1926, 1927, 46...",1
1,district-heating:1--heating-circuit:1--warm-wa...,82,"[774, 1909, 1910, 1911, 1912, 1913, 1314, 1315...",2
2,gas:1--heating-circuit:1,71,"[758, 759, 499, 1525, 1649, 1654, 1657, 1791, ...",3
3,gas:1--heat-exchanger:1--heating-circuit:1--wa...,46,"[1925, 1931, 1781, 1509, 1526, 1527, 1531, 153...",4
4,local-heating-station:1--heating-circuit:1--wa...,41,"[509, 790, 1005, 1628, 1629, 1630, 1631, 672, ...",5
5,gas:1--heat-exchanger:1--heating-circuit:1,39,"[1524, 1795, 1560, 1638, 1639, 604, 617, 623, ...",6
6,gas:1--heating-circuit:1--heating-circuit:2--w...,34,"[2219, 1511, 1515, 1516, 1517, 1518, 1537, 179...",7
7,gas:1--gas:2--heat-exchanger:1--heating-circui...,25,"[510, 1773, 1777, 1778, 1528, 1529, 1530, 1539...",8
8,district-heating:1--heating-circuit:1,22,"[762, 766, 777, 712, 450, 389, 391, 1725, 1726...",9
9,district-heating:1--heating-circuit:1--heating...,22,"[600, 1488, 1724, 796, 1772, 1385, 1386, 1389,...",10
10,heat-pump:1--buffer-tank:1--heating-circuit:1,17,"[546, 1854, 1855, 1901, 1902, 1903, 1904, 1905...",11
11,gas:1--gas:2--heat-exchanger:1--heating-circuit:1,15,"[1506, 668, 680, 696, 1585, 1826, 1908, 730, 1...",12
12,gas:1--empty-pipes:1--down-right-pipes:1--four...,15,"[1521, 1522, 352, 1579, 1591, 2102, 2103, 1555...",13
13,gas:1--global-separation-circuit:1--heating-ci...,15,"[507, 1797, 601, 1497, 1501, 1503, 616, 520, 1...",14
14,heat-pump:1--right-down-pipes:1--heat-pump:2--...,12,"[567, 1849, 1850, 1851, 1852, 1853, 2261, 596,...",15
15,gas:1--global-separation-circuit:1--heating-ci...,12,"[304, 552, 1484, 1489, 1494, 650, 558, 1832, 1...",16
16,gas:1--warm-water:1--heat-exchanger:1--heating...,11,"[568, 1566, 480, 481, 482, 483, 487, 488, 489,...",17
17,district-heating:1--heating-circuit:1--heating...,11,"[1429, 576, 524, 1472, 459, 1589, 1812, 1733, ...",18
18,gas:1--gas:2--global-separation-circuit:1--hea...,11,"[478, 427, 645, 653, 743, 521, 1603, 1604, 183...",19
19,gas:1--heating-circuit:1--heating-circuit:2,11,"[776, 500, 1790, 1414, 1462, 2117, 2131, 1846,...",20

In [9]:
# Sum the number of occurrences for top 10 and top 20
top_10_sum = grouped.head(10)['Occurrence'].sum()
top_20_sum = grouped.head(20)['Occurrence'].sum()
print(f"total LayoutID: {df.LayoutID.count()}")
print(f"top 10 LayoutIDs count: {top_10_sum}")
print(f"top 20 LayoutIDs count: {top_20_sum}")

print(f"Coverage top 10 LayoutIDs: {100*top_10_sum/df.LayoutID.count(): .1f} %")
print(f"Coverage top 20 LayoutIDs: {100*top_20_sum/df.LayoutID.count(): .1f} %")

total LayoutID: 1098
top 10 LayoutIDs count: 501
top 20 LayoutIDs count: 631
Coverage top 10 LayoutIDs:  45.6 %
Coverage top 20 LayoutIDs:  57.5 %

# new standard

In [10]:
# preparation add KBns
df = df.merge(grouped[['LayoutID', 'KBn']], on='LayoutID', how='left')
cols = ['KBn'] + [col for col in df.columns if col != 'KBn']
df = df[cols]
df.head()

,KBn,building_id,device_type,customer_name,address,LayoutID
0,44.0,756,RUT956,HwS,Wolzogenstr.28,gas:1--gas:2--heating-circuit:1--heating-circu...
1,35.0,757,RUT956,HwS,Hagelberger Str. 26,gas:1--gas:2--heating-circuit:1
2,3.0,758,RUT956,HwS,Hochstr. 8,gas:1--heating-circuit:1
3,3.0,759,RUT956,HwS,Planufer 82a,gas:1--heating-circuit:1
4,32.0,761,RUT956,HwS,Gabainstr. 13,gas:1--gas:2--global-separation-circuit:1--hea...

In [11]:
# Define substrings to remove
remove_parts = ['--heat-exchanger:1', '--global-separation-circuit:1']
# Copy LayoutID and remove unwanted parts
df['LayoutID_Tops'] = df['LayoutID']
# Loop over each part and remove it
for part in remove_parts:
    df['LayoutID_Tops'] = df['LayoutID_Tops'].str.replace(part, '', regex=False)

In [12]:
unique_count = df['LayoutID_Tops'].nunique()
print(f"Number of unique LayoutID values: {unique_count}")

Number of unique LayoutID values: 193

In [13]:
# Group by LayoutID
grouped_new_std = df.groupby('LayoutID_Tops').agg(
    Occurrence=('LayoutID_Tops', 'count'),
    buildingIDs=('building_id', list),
    Variations=('LayoutID', set),
    Variations_KBn=('KBn', set)
).reset_index()

# Add a simple index column starting from 0
grouped_new_std = grouped_new_std.sort_values(by='Occurrence', ascending=False).reset_index(drop=True)
grouped_new_std=grouped_new_std[['LayoutID_Tops','Occurrence','Variations_KBn','buildingIDs','Variations']]

grouped_new_std['Variations_KBn'] = grouped_new_std['Variations_KBn'].apply(
    lambda s: ', '.join(f"KB{int(x)}" for x in sorted(s))
)

In [14]:
grouped_new_std.head(20)

,LayoutID_Tops,Occurrence,Variations_KBn,buildingIDs,Variations
0,gas:1--heating-circuit:1--warm-water:1,185,"KB1, KB4, KB16, KB30","[768, 769, 770, 778, 787, 304, 1924, 1925, 192...",{gas:1--heating-circuit:1--heat-exchanger:1--w...
1,gas:1--heating-circuit:1,125,"KB3, KB6, KB14","[758, 759, 499, 507, 1524, 1525, 1649, 1654, 1...","{gas:1--heating-circuit:1, gas:1--heat-exchang..."
2,district-heating:1--heating-circuit:1--warm-wa...,88,"KB2, KB39","[774, 419, 1909, 1910, 1911, 1912, 1913, 1314,...",{district-heating:1--heating-circuit:1--heat-e...
3,gas:1--heating-circuit:1--heating-circuit:2--w...,51,"KB7, KB23, KB34, KB173","[348, 1775, 1779, 2219, 1511, 1515, 1516, 1517...",{gas:1--heating-circuit:1--heating-circuit:2--...
4,local-heating-station:1--heating-circuit:1--wa...,41,KB5,"[509, 790, 1005, 1628, 1629, 1630, 1631, 672, ...",{local-heating-station:1--heating-circuit:1--w...
5,gas:1--gas:2--heating-circuit:1--warm-water:1,39,"KB8, KB19, KB63","[478, 510, 1773, 1777, 1778, 1528, 1529, 1530,...",{gas:1--gas:2--heating-circuit:1--warm-water:1...
6,gas:1--gas:2--heating-circuit:1,29,"KB12, KB29, KB35","[757, 773, 429, 1506, 668, 680, 696, 745, 530,...",{gas:1--gas:2--global-separation-circuit:1--he...
7,district-heating:1--heating-circuit:1--heating...,24,"KB10, KB101","[600, 1488, 1724, 796, 1772, 1385, 1386, 1389,...",{district-heating:1--heating-circuit:1--heatin...
8,gas:1--gas:2--heating-circuit:1--heating-circu...,23,"KB22, KB28, KB48","[1928, 1930, 506, 333, 417, 388, 1641, 414, 79...",{gas:1--gas:2--global-separation-circuit:1--he...
9,district-heating:1--heating-circuit:1,22,KB9,"[762, 766, 777, 712, 450, 389, 391, 1725, 1726...",{district-heating:1--heating-circuit:1}
10,gas:1--heating-circuit:1--heating-circuit:2,19,"KB20, KB45, KB58","[776, 500, 1790, 598, 603, 681, 1408, 1414, 51...",{gas:1--global-separation-circuit:1--heating-c...
11,gas:1--gas:2--heating-circuit:1--heating-circu...,18,"KB33, KB37, KB44","[756, 437, 1507, 647, 683, 693, 694, 1742, 519...",{gas:1--gas:2--global-separation-circuit:1--he...
12,heat-pump:1--buffer-tank:1--heating-circuit:1,17,KB11,"[546, 1854, 1855, 1901, 1902, 1903, 1904, 1905...",{heat-pump:1--buffer-tank:1--heating-circuit:1}
13,gas:1--heating-circuit:1--heating-circuit:2--h...,16,"KB26, KB43, KB111","[779, 1545, 613, 621, 1830, 336, 1338, 1342, 1...",{gas:1--global-separation-circuit:1--heating-c...
14,gas:1--empty-pipes:1--down-right-pipes:1--four...,15,KB13,"[1521, 1522, 352, 1579, 1591, 2102, 2103, 1555...",{gas:1--empty-pipes:1--down-right-pipes:1--fou...
15,gas:1--heating-circuit:1--heating-circuit:2--h...,14,"KB21, KB109, KB195","[347, 1651, 1655, 432, 455, 456, 659, 664, 665...",{gas:1--heating-circuit:1--heating-circuit:2--...
16,district-heating:1--warm-water:1--heating-circ...,12,"KB25, KB98","[358, 1393, 1397, 1612, 742, 1738, 1739, 2199,...",{district-heating:1--warm-water:1--heat-exchan...
17,heat-pump:1--right-down-pipes:1--heat-pump:2--...,12,KB15,"[567, 1849, 1850, 1851, 1852, 1853, 2261, 596,...",{heat-pump:1--right-down-pipes:1--heat-pump:2-...
18,gas:1--warm-water:1--heating-circuit:1,11,KB17,"[568, 1566, 480, 481, 482, 483, 487, 488, 489,...",{gas:1--warm-water:1--heat-exchanger:1--heatin...
19,gas:1--solar-thermal:1--warm-water:1--heating-...,11,"KB31, KB49","[1565, 1569, 1627, 1476, 1477, 1370, 1372, 184...",{gas:1--solar-thermal:1--warm-water:1--heating...

In [15]:
# Sum the number of occurrences for top 10 and top 20
top_10_sum = grouped_new_std.head(10)['Occurrence'].sum()
top_20_sum = grouped_new_std.head(20)['Occurrence'].sum()
print(f"total LayoutID: {df.LayoutID.count()}")
print(f"top 10 LayoutIDs count: {top_10_sum}")
print(f"top 20 LayoutIDs count: {top_20_sum}")

print(f"Coverage top 10 LayoutIDs: {100*top_10_sum/df.LayoutID.count(): .1f} %")
print(f"Coverage top 20 LayoutIDs: {100*top_20_sum/df.LayoutID.count(): .1f} %")

total LayoutID: 1098
top 10 LayoutIDs count: 627
top 20 LayoutIDs count: 772
Coverage top 10 LayoutIDs:  57.1 %
Coverage top 20 LayoutIDs:  70.3 %

# exports

In [16]:
if True:
    #df.to_csv('Building_ID_VS_LayoutID.csv', index=False)
    grouped.to_csv('LayoutID_occurence.csv', index=False)
    grouped_new_std.to_csv('LayoutID_occurence_new_std.csv', index=False)