# Analysis of Layout ID

## Relevant documents

- (Python Client Repo)[https://github.com/Green-Fusion/energy-management-backend/tree/main/python_client]
- (Klemmenbelegung)[https://docs.google.com/spreadsheets/d/1nkdkx2rI6nVKgoKBgkCUtfwEwuv8kptrRUXcXtfv0NM/edit?gid=247168398#gid=247168398]
- (Hypothesis for Klemmenbelegung)[https://docs.google.com/spreadsheets/d/1TSTxMCgEvuoayzOfx1MUqlV0tiqsVTBRN8aldlnFXxA/edit?gid=0#gid=0]

# import data

In [1]:
#imports
import pandas as pd

In [2]:
#build df from database exctracted data
df = pd.read_csv('data_from_db_2025-07-07.csv')
#inspest column
df.columns

Index(['building_id', 'customerID', 'customer_name', 'address', 'postal_code',
       'city', 'gfid', 'LayoutID', 'device_type', 'device_id'],
      dtype='object')

In [3]:
#filter out uncesseray infos
df=df[['building_id','customerID', 'customer_name','device_type', 'customer_name','address','LayoutID']]

In [4]:
df.head()

,building_id,customerID,customer_name,device_type,customer_name,address,LayoutID
0,756,66,HwS,RUT956,HwS,Wolzogenstr.28,gas:1--gas:2--heating-circuit:1--heating-circu...
1,757,66,HwS,RUT956,HwS,Hagelberger Str. 26,gas:1--gas:2--heating-circuit:1
2,758,66,HwS,RUT956,HwS,Hochstr. 8,gas:1--heating-circuit:1
3,759,66,HwS,RUT956,HwS,Planufer 82a,gas:1--heating-circuit:1
4,761,66,HwS,RUT956,HwS,Gabainstr. 13,gas:1--gas:2--global-separation-circuit:1--hea...

In [5]:
df.count()

building_id      1935
customerID       1935
customer_name    1935
device_type      1066
customer_name    1935
address          1935
LayoutID         1137
dtype: int64

# Group by LayoutID

In [6]:
unique_count = df['LayoutID'].nunique()
print(f"Number of unique LayoutID values: {unique_count}")

Number of unique LayoutID values: 234

In [7]:
# Group by LayoutID
grouped = df.groupby('LayoutID').agg(
    Occurrence=('LayoutID', 'count'),
    buildingIDs=('building_id', list)
).reset_index()

# Add a simple index column starting from 0
grouped = grouped.sort_values(by='Occurrence', ascending=False).reset_index(drop=True)
grouped['KBn']=grouped.index+1
#grouped['KBn'] = grouped['KBn'].fillna(-1).astype(int)

In [8]:
# Show result
grouped.head(20)

,LayoutID,Occurrence,buildingIDs,KBn
0,gas:1--heating-circuit:1--warm-water:1,128,"[768, 769, 770, 778, 787, 1924, 1926, 1927, 46...",1
1,district-heating:1--heating-circuit:1--warm-wa...,84,"[774, 1909, 1910, 1911, 1912, 1913, 1314, 1315...",2
2,gas:1--heating-circuit:1,77,"[758, 759, 499, 1525, 1649, 1654, 1657, 1791, ...",3
3,gas:1--heat-exchanger:1--heating-circuit:1--wa...,46,"[1925, 1931, 1781, 1509, 1526, 1527, 1531, 153...",4
4,local-heating-station:1--heating-circuit:1--wa...,45,"[509, 790, 1005, 1628, 1629, 1630, 1631, 672, ...",5
5,gas:1--heat-exchanger:1--heating-circuit:1,40,"[1524, 1795, 1560, 1638, 1639, 604, 617, 623, ...",6
6,gas:1--heating-circuit:1--heating-circuit:2--w...,34,"[2219, 1511, 1515, 1516, 1517, 1518, 1537, 179...",7
7,gas:1--gas:2--heat-exchanger:1--heating-circui...,26,"[510, 1773, 1777, 1778, 1528, 1529, 1530, 1539...",8
8,district-heating:1--heating-circuit:1--heating...,22,"[600, 1488, 1724, 796, 1772, 1385, 1386, 1389,...",9
9,district-heating:1--heating-circuit:1,22,"[762, 766, 777, 712, 450, 389, 391, 1725, 1726...",10
10,heat-pump:1--buffer-tank:1--heating-circuit:1,17,"[546, 1854, 1855, 1901, 1902, 1903, 1904, 1905...",11
11,gas:1--gas:2--heat-exchanger:1--heating-circuit:1,16,"[1506, 668, 680, 696, 1585, 1826, 1908, 730, 2...",12
12,gas:1--empty-pipes:1--down-right-pipes:1--four...,15,"[1521, 1522, 352, 1579, 1591, 2102, 2103, 1555...",13
13,gas:1--global-separation-circuit:1--heating-ci...,15,"[507, 1797, 601, 1497, 1501, 1503, 616, 520, 1...",14
14,gas:1--global-separation-circuit:1--heating-ci...,12,"[304, 552, 1484, 1489, 1494, 650, 558, 1832, 1...",15
15,gas:1--heating-circuit:1--heating-circuit:2--h...,12,"[347, 1651, 1655, 432, 664, 665, 1893, 1895, 1...",16
16,heat-pump:1--right-down-pipes:1--heat-pump:2--...,12,"[567, 1849, 1850, 1851, 1852, 1853, 2261, 596,...",17
17,gas:1--warm-water:1--heat-exchanger:1--heating...,11,"[568, 1566, 480, 481, 482, 483, 487, 488, 489,...",18
18,gas:1--gas:2--global-separation-circuit:1--hea...,11,"[478, 427, 645, 653, 743, 521, 1603, 1604, 183...",19
19,district-heating:1--heating-circuit:1--heating...,11,"[1429, 576, 524, 1472, 459, 1589, 1812, 1733, ...",20

In [9]:
# Sum the number of occurrences for top 10 and top 20
top_10_sum = grouped.head(10)['Occurrence'].sum()
top_20_sum = grouped.head(20)['Occurrence'].sum()
print(f"total LayoutID: {df.LayoutID.count()}")
print(f"top 10 LayoutIDs count: {top_10_sum}")
print(f"top 20 LayoutIDs count: {top_20_sum}")

print(f"Coverage top 10 LayoutIDs: {100*top_10_sum/df.LayoutID.count(): .1f} %")
print(f"Coverage top 20 LayoutIDs: {100*top_20_sum/df.LayoutID.count(): .1f} %")

total LayoutID: 1137
top 10 LayoutIDs count: 524
top 20 LayoutIDs count: 656
Coverage top 10 LayoutIDs:  46.1 %
Coverage top 20 LayoutIDs:  57.7 %

# new standard

In [10]:
# preparation add KBns
df = df.merge(grouped[['LayoutID', 'KBn']], on='LayoutID', how='left')
cols = ['KBn'] + [col for col in df.columns if col != 'KBn']
df = df[cols]
df.head()

,KBn,building_id,customerID,customer_name,customer_name,device_type,customer_name,customer_name,address,LayoutID
0,43.0,756,66,HwS,HwS,RUT956,HwS,HwS,Wolzogenstr.28,gas:1--gas:2--heating-circuit:1--heating-circu...
1,35.0,757,66,HwS,HwS,RUT956,HwS,HwS,Hagelberger Str. 26,gas:1--gas:2--heating-circuit:1
2,3.0,758,66,HwS,HwS,RUT956,HwS,HwS,Hochstr. 8,gas:1--heating-circuit:1
3,3.0,759,66,HwS,HwS,RUT956,HwS,HwS,Planufer 82a,gas:1--heating-circuit:1
4,33.0,761,66,HwS,HwS,RUT956,HwS,HwS,Gabainstr. 13,gas:1--gas:2--global-separation-circuit:1--hea...

In [11]:
# Define substrings to remove
remove_parts = ['--heat-exchanger:1', '--global-separation-circuit:1']
# Copy LayoutID and remove unwanted parts
df['LayoutID_Tops'] = df['LayoutID']
# Loop over each part and remove it
for part in remove_parts:
    df['LayoutID_Tops'] = df['LayoutID_Tops'].str.replace(part, '', regex=False)

In [12]:
unique_count = df['LayoutID_Tops'].nunique()
print(f"Number of unique LayoutID values: {unique_count}")

Number of unique LayoutID values: 194

In [13]:
# Group by LayoutID
grouped_new_std = df.groupby('LayoutID_Tops').agg(
    Occurrence=('LayoutID_Tops', 'count'),
    buildingIDs=('building_id', list),
    Variations=('LayoutID', set),
    Variations_KBn=('KBn', set)
).reset_index()

# Add a simple index column starting from 0
grouped_new_std = grouped_new_std.sort_values(by='Occurrence', ascending=False).reset_index(drop=True)
grouped_new_std=grouped_new_std[['LayoutID_Tops','Occurrence','Variations_KBn','buildingIDs','Variations']]

grouped_new_std['Variations_KBn'] = grouped_new_std['Variations_KBn'].apply(
    lambda s: ', '.join(f"KB{int(x)}" for x in sorted(s))
)

In [14]:
grouped_new_std.head(20)

,LayoutID_Tops,Occurrence,Variations_KBn,buildingIDs,Variations
0,gas:1--heating-circuit:1--warm-water:1,194,"KB1, KB4, KB15, KB30","[768, 769, 770, 778, 787, 304, 1924, 1925, 192...","{gas:1--heating-circuit:1--warm-water:1, gas:1..."
1,gas:1--heating-circuit:1,132,"KB3, KB6, KB14","[758, 759, 499, 507, 1524, 1525, 1649, 1654, 1...","{gas:1--heat-exchanger:1--heating-circuit:1, g..."
2,district-heating:1--heating-circuit:1--warm-wa...,91,"KB2, KB32","[774, 419, 1909, 1910, 1911, 1912, 1913, 1314,...",{district-heating:1--heating-circuit:1--warm-w...
3,gas:1--heating-circuit:1--heating-circuit:2--w...,51,"KB7, KB22, KB36, KB182","[348, 1775, 1779, 2219, 1511, 1515, 1516, 1517...",{gas:1--global-separation-circuit:1--heating-c...
4,local-heating-station:1--heating-circuit:1--wa...,45,KB5,"[509, 790, 1005, 1628, 1629, 1630, 1631, 672, ...",{local-heating-station:1--heating-circuit:1--w...
5,gas:1--gas:2--heating-circuit:1--warm-water:1,40,"KB8, KB19, KB63","[478, 510, 1773, 1777, 1778, 1528, 1529, 1530,...",{gas:1--gas:2--global-separation-circuit:1--he...
6,gas:1--gas:2--heating-circuit:1,31,"KB12, KB29, KB35","[757, 773, 429, 1506, 668, 680, 696, 745, 530,...","{gas:1--gas:2--heating-circuit:1, gas:1--gas:2..."
7,gas:1--gas:2--heating-circuit:1--heating-circu...,24,"KB23, KB24, KB48","[1928, 1930, 506, 333, 417, 388, 1641, 414, 79...",{gas:1--gas:2--heating-circuit:1--heating-circ...
8,district-heating:1--heating-circuit:1--heating...,24,"KB9, KB97","[600, 1488, 1724, 796, 1772, 1385, 1386, 1389,...",{district-heating:1--heating-circuit:1--heatin...
9,district-heating:1--heating-circuit:1,22,KB10,"[762, 766, 777, 712, 450, 389, 391, 1725, 1726...",{district-heating:1--heating-circuit:1}
10,gas:1--heating-circuit:1--heating-circuit:2,19,"KB21, KB44, KB59","[776, 500, 1790, 598, 603, 681, 1408, 1414, 51...","{gas:1--heating-circuit:1--heating-circuit:2, ..."
11,gas:1--gas:2--heating-circuit:1--heating-circu...,18,"KB34, KB38, KB43","[756, 437, 1507, 647, 683, 693, 694, 1742, 519...",{gas:1--gas:2--heating-circuit:1--heating-circ...
12,heat-pump:1--buffer-tank:1--heating-circuit:1,17,KB11,"[546, 1854, 1855, 1901, 1902, 1903, 1904, 1905...",{heat-pump:1--buffer-tank:1--heating-circuit:1}
13,gas:1--heating-circuit:1--heating-circuit:2--h...,16,"KB28, KB45, KB111","[779, 1545, 613, 621, 1830, 336, 1338, 1342, 1...",{gas:1--global-separation-circuit:1--heating-c...
14,gas:1--heating-circuit:1--heating-circuit:2--h...,15,"KB16, KB88, KB195","[347, 1651, 1655, 432, 455, 456, 659, 664, 665...",{gas:1--heating-circuit:1--heating-circuit:2--...
15,gas:1--empty-pipes:1--down-right-pipes:1--four...,15,KB13,"[1521, 1522, 352, 1579, 1591, 2102, 2103, 1555...",{gas:1--empty-pipes:1--down-right-pipes:1--fou...
16,district-heating:1--warm-water:1--heating-circ...,12,"KB26, KB101","[358, 1393, 1397, 1612, 742, 1738, 1739, 2199,...",{district-heating:1--warm-water:1--heating-cir...
17,heat-pump:1--right-down-pipes:1--heat-pump:2--...,12,KB17,"[567, 1849, 1850, 1851, 1852, 1853, 2261, 596,...",{heat-pump:1--right-down-pipes:1--heat-pump:2-...
18,gas:1--solar-thermal:1--warm-water:1--heating-...,11,"KB31, KB50","[1565, 1569, 1627, 1476, 1477, 1370, 1372, 184...",{gas:1--heat-exchanger:1--solar-thermal:1--war...
19,gas:1--gas:2--heating-circuit:1--heating-circu...,11,"KB33, KB66, KB192","[761, 575, 430, 438, 648, 684, 1813, 1829, 175...",{gas:1--gas:2--heat-exchanger:1--heating-circu...

In [15]:
# Sum the number of occurrences for top 10 and top 20
top_10_sum = grouped_new_std.head(10)['Occurrence'].sum()
top_20_sum = grouped_new_std.head(20)['Occurrence'].sum()
print(f"total LayoutID: {df.LayoutID.count()}")
print(f"top 10 LayoutIDs count: {top_10_sum}")
print(f"top 20 LayoutIDs count: {top_20_sum}")

print(f"Coverage top 10 LayoutIDs: {100*top_10_sum/df.LayoutID.count(): .1f} %")
print(f"Coverage top 20 LayoutIDs: {100*top_20_sum/df.LayoutID.count(): .1f} %")

total LayoutID: 1137
top 10 LayoutIDs count: 654
top 20 LayoutIDs count: 800
Coverage top 10 LayoutIDs:  57.5 %
Coverage top 20 LayoutIDs:  70.4 %

# exports

In [16]:
if True:
    df.to_csv('Building_ID_VS_LayoutID.csv', index=False)
    grouped.to_csv('LayoutID_occurence.csv', index=False)
    grouped_new_std.to_csv('LayoutID_occurence_new_std.csv', index=False)